 @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
 header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    h3{
        font-family:'Satisfy', system-ui ;
    }
 }