 @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
 @import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
 .Playfair{
    font-family: 'Playfair Display',system-ui;
 }
html, body{
    margin: 0;
    padding: 0;
    min-width: 100%;
}

 header{
    display: flex;
 
    box-shadow: 0px 5px 5px #FFBF00;
    min-width: 100%;
    max-height:200px ;
    top: 0;
    position: sticky;
    z-index: 3;

    h1{
        font-family: 'Satisfy', system-ui;
        color: white;
    }
    h3{
        
        font-family:'Satisfy', system-ui ;
    }
    nav{
        li{
            font-weight: bold;
        }
        li:hover{
            background-color:#FFBF00;
            color: black;
             
        }
       #hidden{
        display: none;
       }
       #about:hover{
        li{
            width: 10vw;
            height: 5vh;
          
        }
        #hidden{
            display: block;
            font-size: 15px;
        }
       }
        #programs:hover{
            li{
                width: 10vw;
                height: 5vh;
              
            }
            #hidden{
                display: block;
                font-size: 15px;
            }
        }
    }
 }
 body{
    background-color: #71797E;
 }
 main{
  
    //ABOUT
    #quote-1{
        grid-column: 2/3;
        min-width: 25vw;
    
    }
    #quote-2{
        grid-column: 4/5;
        min-width: 25vw;
         
    }
    #quote-3{
        grid-column: 1/2;
         
        img{
            width: 25vw;
        }
    }
    #quote-4{
        grid-column: 3/4;
        min-width: 20vw;
    }
    #quote-5{
        grid-column: 5/6;
        border: none;
    
        background-color:#FCF5E5;
        box-shadow:none;
        img{
            min-width: 20vw;
            box-shadow: 0px 5px 5px 1px #301934;
        }
    }
    .quotes{
        background-color: 	#C0C0C0;
        font-weight: bold;
        box-shadow: 0px 5px 5px 1px #301934;
        border-radius: 25px;
    }

    // </ABOUT>
    margin:0 10vw;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px #F9F6EE, -12px 0 15px -4px #F9F6EE;
     background-color:#FCF5E5;
    a{
     
         
        margin-top: 2vh;
         background-color:#FFBF00;
        font-family: 'Playfair Display', system-ui;
        font-size: 20px;
        font-weight: bold;
        cursor:pointer ;
    }
    a:hover{
        background-color: gray;
        border-color: #FFBF00;
        color: black;
    }
    #smallWrap{
        max-width: 650px;
    }
   .wrap{
    margin-bottom: 10px;
    box-shadow: -1px 0px 5px 10px #FFBF00;
   margin-top: 2vh;
   max-width: 975px;
   
   overflow: hidden;
   #slider{
    #smaller{
        min-width:650px ;
    }
     
  display: inline-flex;
    img{
        min-width: 975px;
       
    }
    display: flex;

   }
}
#content{
    margin: 2vh 5vw;
    
    div{ border: 2px solid #301934;
        
        h1{ 
            font-family: 'Playfair Display' , system-ui;
            font-weight: bold;
            color:#F9F6EE;
            font-size: 30px;
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
            border-bottom: 5px solid black;
           border-bottom-style: groove;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
        background-color:gray;
        
        height: auto;
        border-radius: 20px;
    }
    #awareness{
        width: auto;
        padding:4vh 5vw;
        grid-column: 1/3;
        margin: 10px;
    }
}
 }
 #imgMural{
    display: none;
   }
 @media(max-width:875px){
    #imgMural{
        display: block;
        width: 600px;
        height: auto;
        margin-top: 2vh;
        border: solid 1px yellow;
        box-shadow: -1px 0px 5px 10px #FFBF00;
    }
    .wrap{
        display: none;
    }
 }

 @media(max-width:775px){
    main{
        #imgMural{
            width: 450px;
        }
         
    }
 }
 @media(max-width:540px){
    div{
    #quote{
      display: none;
      width: 0;
      
    }
    }
 }
 @media(max-width:639px){
    header{  
        #sideBarBtn{
            left: 84%;
            top: 50%;
        }
        #logo{
            margin-left: 0vw;
            max-width: 200px;
        }
        #quote{
            margin-left: 5px;
            margin-top: 0px;
            font-size: 20px;
        }
        #imgHeader{
            width: 200px;
            margin-top: 0px;
            margin-left: 0vw;
            font-size: 18px;
            
        }
    }
    main{
        #imgMural{
            width:400px
        }
        #Bio{
            min-width:100% ;
        }
        #content{
        ul{
             
            li{
                list-style: none;
            }
        }
    }
    }
 }
 @media(max-width:549px){
    header{
        #quote{
            font-size: 16px;
            margin-top: -10px;
            margin-left: 30px;
            width: 250px;
        }
       
        #logo{
            margin-top: 15px;
        }
        
    }
    main{
        margin: 0;
    #imgMural{
        width: fit-content;
    }
}
 }
 @media(max-width:490px){
    header{
    #sideBarBtn{
        left: 75%;
        top: 30%;
    }
}
 }
 @media(max-width:360px){
    header{
        
   div{
    button{
        margin-right: 10px;
    }
   }
    #logo{
        width: 165px;
    }
    #imgHeader{
        min-height: 65px;
        max-width: 165px;
    }
    svg{
        width: 80px;
        height: 60px;
    }
}
     
 }
 #active{
    animation: openSide 1s;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    left: 60%;
    width: 45vw;
   z-index: 2;
    transform-origin: center right;
  
    
}  
#deActive{
    animation: closeSide 1s;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    left: 70%;
    width: 35vw;
   z-index: 2;
    transform-origin: center right;
}

@keyframes openSide {
    from{
      transform: scaleX(0);
    }
     70%{
       transform: scaleX(1.1);
     }
     to{
        transform: scaleX(1);
     }
}
@keyframes closeSide{
    from{
        transform: scaleX(1);
        display: block;
    }
    to{
        transform: scaleX(0);
        display: none;
    }
}